[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayeslm"]
	path = bayeslm
	url = https://github.com/jingyuhe/bayeslm
	shallow = true
	registered = true
